<%= form_for @historian, :html => { :class => "form-horizontal historian" } do |f| %>

    <% if @historian.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@historian.errors.count, "error") %> prohibited this historian from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @historian.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <p>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@historian[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address, value: 'F9zvg3nsA26ihoWW7Gyyu5kfVc7CS5YDYC', :class => 'form-control' %>
      </div>
      <%= error_span(@historian[:address]) %>
    </div>
    <div class="control-group">
      <%= f.label :btc_tip_address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :btc_tip_address, :class => 'form-control' %>
      </div>
      <%= error_span(@historian[:btc_tip_address]) %>
    </div>
    <div class="control-group">
      <%= f.label :bit_msg_address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :bit_msg_address, value: 'F9zvg3nsA26ihoWW7Gyyu5kfVc7CS5YDYC', :class => 'form-control' %>
      </div>
      <%= error_span(@historian[:bit_msg_address]) %>
    </div>
  </p>
<div class="actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            historians_path, :class => 'btn btn-default' %>

</div>

<% end %>
