<%= form_for(@historian) do |f| %>
  <% if @historian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historian.errors.count, "error") %> prohibited this historian from being saved:</h2>

      <ul>
      <% @historian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :btc_tip_address %><br>
    <%= f.text_area :btc_tip_address %>
  </div>
  <div class="field">
    <%= f.label :bit_msg_address %><br>
    <%= f.text_area :bit_msg_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
