<p id="notice"><%= notice %></p>

<h1>Listing History Record Datapoints</h1>

<table>
  <thead>
    <tr>
      <th>History record</th>
      <th>Dp field</th>
      <th>Dp value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @history_record_datapoints.each do |history_record_datapoint| %>
      <tr>
        <td><%= history_record_datapoint.history_record_id %></td>
        <td><%= history_record_datapoint.dp_field %></td>
        <td><%= history_record_datapoint.dp_value %></td>
        <td><%= link_to 'Show', history_record_datapoint %></td>
        <td><%= link_to 'Edit', edit_history_record_datapoint_path(history_record_datapoint) %></td>
        <td><%= link_to 'Destroy', history_record_datapoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New History record datapoint', new_history_record_datapoint_path %>
