- model_class = HistoryRecord
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:http_api_address)
      %th= model_class.human_attribute_name(:fields_to_store)
      %th= model_class.human_attribute_name(:rate)
      %th= model_class.human_attribute_name(:public)
      %th= model_class.human_attribute_name(:historian_id)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @history_records.each do |history_record|
      %tr
        %td= link_to history_record.id, history_record_path(history_record)
        %td{class: 'col-md-1'}= history_record.title
        %td{class: 'col-md-2'}= history_record.http_api_address
        %td{class: 'col-md-2'}= history_record.fields_to_store
        %td= HistoryRecord::RATES[history_record.rate]
        %td= history_record.public
        %td= history_record.historian.try(:name)
        %td{class: 'col-md-1'}= history_record.created_at.strftime("%B %e, %Y")
        %td
          - if history_record.schedule_status
            = link_to "Stop".html_safe, send_data_points_path(history_record, history_record: {schedule_status: false}, status: 'stop'), :class => 'btn btn-xs btn-danger'
          -else
            = link_to "Start".html_safe, send_data_points_path(history_record, history_record: {schedule_status: true}, status: 'start'), :class => 'btn btn-xs btn-primary'

          = link_to t('.edit', :default => t("helpers.links.edit")),edit_history_record_path(history_record),:class => 'btn btn-default btn-xs'
= link_to t('.new', :default => t("helpers.links.new")), new_history_record_path, :class => 'btn btn-primary'
