<%- model_class = HistoryRecord -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:http_api_address) %></th>
      <th><%= model_class.human_attribute_name(:fields_to_store) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:public) %></th>
      <th><%= model_class.human_attribute_name(:historian_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @history_records.each do |history_record| %>
      <tr>
        <td><%= link_to history_record.id, history_record_path(history_record) %></td>
        <td><%= history_record.title %></td>
        <td><%= history_record.http_api_address %></td>
        <td><%= history_record.fields_to_store %></td>
        <td><%= history_record.rate %></td>
        <td><%= history_record.public %></td>
        <td><%= history_record.historian_id %></td>
        <td><%=l history_record.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_history_record_path(history_record), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      history_record_path(history_record),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_history_record_path,
            :class => 'btn btn-primary' %>
